extends ./includes/layout.jade

block content
  h1
    a.anchor(name='pumpio', href='#pumpio')
      span.octicon.octicon-link
    | pump.io

  p This is pump.io. It&apos;s a stream server that does most of what people really want from a social network.

  p
    a(href='https://travis-ci.org/pump-io/pump.io')
      img(src='https://travis-ci.org/pump-io/pump.io.svg?branch=master', alt='Build Status')

    a(href='https://npmjs.com/package/pump.io')
      img(src='https://img.shields.io/npm/v/pump.io.svg', alt='npm version')

  h2 News highlights
  ul
    //- TODO: automatically show blog posts here
    li
      a(href='http://pump.io/blog/2017/04/pump.io-4.0-in-beta') pump.io 4.0 is in beta
    li
      a(href='https://github.com/pump-io/pump.io/releases/tag/v1.0.0') Release 1.0.0 is now available (contains security enhancements)
    li
      a(href='https://e14n.com/evan/note/m0B0MlAySEiC8ey4aQ6nPA')
        | Security alert: cross-site scripting vulnerability in pump.io 0.2.x and 0.3.x (master)
  p
    a(href='/blog') All project news...

  h2
    a.anchor(name='whats-it-for', href='#whats-it-for')
      span.octicon.octicon-link
    | What's it for?
  p
    | I post something and my followers see it. That&apos;s the rough idea behind
    | the pump.
  p
    | There&apos;s an API defined in the API.md file. It uses activitystrea.ms
    | JSON as the main data and command format.
  p
    | You can post almost anything that can be represented with activity
    | streams -- short or long text, bookmarks, images, video, audio,
    | events, geo checkins. You can follow friends, create lists of people,
    | and so on.
  p The software is useful for at least these scenarios:
  ul
    li Mobile-first social networking
    li Activity stream functionality for an existing app
    li Experimenting with social software
  | It also comes with a web UI.

  h2
    a.anchor(name='installation', href='#installation')
      span.octicon.octicon-link
    | Installation
  p Consult the 
    a(href='https://github.com/pump-io/pump.io/blob/master/README.md') README
    |  for installation instructions.

  h2
    a.anchor(name='license', href='#license')
      span.octicon.octicon-link
    | License
  p
    | Copyright 2011-2017, E14N
    a(href='https://e14n.com/') https://e14n.com/
    |  and contributors
  p
    | Licensed under the Apache License, Version 2.0 (the "License");
    | you may not use this file except in compliance with the License.
    | You may obtain a copy of the License at
  p
    a(href='http://www.apache.org/licenses/LICENSE-2.0') http://www.apache.org/licenses/LICENSE-2.0
  p
    | Unless required by applicable law or agreed to in writing, software
    | distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
    | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    | See the License for the specific language governing permissions and
    | limitations under the License.
